<div class="container">

  <div class="trader">
    <p class="lead"><h1>Trades</h1>

    </p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Date</th>
            <th>Trade Id</th>
            <th>Type</th>
            <th>Amount Traded</th>
            <th>Price</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
      <% @trades.each do |t| %>
          <tr>
            <td><%= Time.at(t[:id]).to_datetime %></td>
            <td><%= t[:id] %></td>
            <td><%= t[:type] %></td>
            <td><%= t[:amount] %></td>
            <td><%= t[:price] %></td>
            <td><%= t[:total] %></td>
          </tr>
      <% end %>
        </tbody>
      </table>
  </div>

</div><!-- /.container -->
